* {
    box-sizing: border-box;
}

button {
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: cornflowerblue;
    color: whitesmoke;
    border: none;
    box-shadow: none;
    margin: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 900px;
    min-height: 500px;
    /* aspect-ratio: 1/1; */
}

div.pixel-line {
    display: flex;
    flex-direction: row;
    flex: auto;
}

div.pixel {
    flex: initial;
    border: 1px solid black;
    border-radius: 8px;
    flex: auto;
    aspect-ratio: 1/1;
    background-color: rgba(0,0,0,0);
}